{% extends 'layout.njk' %}
{% import "parts/section-products.njk" as section %}

{% block styles %}{% endblock styles %}

{% block content %}
  {{section.products('Últimos Produtos', 'container', products)}}
{% endblock content %}
