{% extends 'layout.njk' %}

{% block styles %}{% endblock styles %}

{% block content %}
<section class="product-single container">
  
  <div class="gallery">
  
    <img src="https://place-hold.it/500x500?text=PRODUTO SEM FOTO" alt="foto aqui">
  
  </div>

  <div class="info">
    <h1>Computador</h1>

    <div class="published">
      Publicado em 18/12 às 21h
    </div>

    <div class="description">
      adsffsafafaf
    </div>

    <div class="price-buy">
      <div class="price">
        R$ 99,00
        <span class="old">R$ 120,00</span>

      </div>

      <div class="buy">
      <button class="button">Comprar</button>

      </div>
    </div>
  
  </div>
</section>
{% endblock content%}